name: Validate YAML

on: [pull_request]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Validate YAML
      uses: ibiqlik/action-yamllint@master
      with:
        file_or_dir: formats/yaml/*
        config_file: .yamllint.yaml
