name: Validate JSON

on: [pull_request]

jobs:
  verify-xml-validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Lint info.xml
      uses: ChristophWurst/xmllint-action@v1
      with:
        xml-file: ./formats/xml/whiskey.xml
        xml-schema-file: ./formats/xml/schema.xsd
