name: Validate YAML

on: [pull_request]

jobs:
  yamllint:
    name: 'Yamllint'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'yamllint'
        uses: karancode/yamllint-github-action@master
        with:
          yamllint_file_or_dir: 'formats/yaml/'
        env:
          INPUT_YAMLLINT_CONFIG_FILEPATH: '.yamllint.yaml'
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
